<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:if="${toEdit.id == null}"
                th:text="#{admin.group.header.title_add}">Administration - Add Project</h1>

            <h1 th:if="${toEdit.id != null}" th:text="#{admin.group.header.title_edit}">Administration - Edit
                Project</h1>
        </div>
        <div id="content">
            <div id="admingroup_form">
                <form action="/admin/group" th:action="@{/admin/group}" th:object="${toEdit}" method="POST">
                    <div class="odd">
                        <label for="name" th:text="#{admin.group.label.name}">Name</label>:
                        <input type="text" name="name" id="name" th:field="*{name}"/>
                    </div>
                    <div class="even">
                        <label for="project" th:text="#{admin.group.label.project}">Project</label>:
                        <select th:field="*{project.id}" th:remove="all-but-first" id="project">
                            <option th:each="project : ${projects}"
                                    th:value="${project.id}" th:text="${project.name}"></option>
                            <option>Projekt1</option>
                            <option>Brater</option>
                        </select>
                    </div>
                    <button id="store_group" type="submit" value="store_group" name="action" class="btn btn btn-success">
                        <span th:text="#{admin.group.button.edit}">Save</span></button>
                    <input type="hidden" name="id" id="id" th:field="*{id}"/>
                </form>
            </div>

            <th:block th:if="${toEdit.id != null}">
                <div id="personList" class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{admin.group.header.member}">Members</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th th:text="#{admin.list.header.personFirstName}">First name</th>
                            <th th:text="#{admin.list.header.personLastName}">Last name</th>
                            <th th:text="#{admin.list.header.personCode}">Code</th>
                            <th th:text="#{admin.list.header.edit}">Edit</th>
                            <th th:text="#{admin.list.header.delete}">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="member : ${toEdit.members}" th:object="${member}">
                            <td th:text="*{firstName}">Horst</td>
                            <td th:text="*{LastName}">Tappert</td>
                            <td th:text="*{code}">HT</td>
                            <td><a href="/admin/person" th:href="@{/admin/person(id=*{id})}">
                                <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}" th:alt="#{admin.list.link.edit}"/></a></td>
                            <td><a href="/admin/groupDeletePerson" th:href="@{/admin/groupDeletePerson(personId=*{id}, groupId=${toEdit.id})}">
                                <img src="../../static/img/delete20.png" th:src="@{/img/delete20.png}" th:alt="#{admin.list.link.delete}"/></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-body">
                    <th:block th:if="!${personsToAdd.isEmpty()}">
                        <form action="/admin/groupAddPerson" th:action="@{/admin/groupAddPerson}" th:object="${toEdit}"
                              method="POST">
                            <label for="personToAdd" th:text="#{admin.group.label.person}">Person</label>:
                            <select th:remove="all-but-first" id="personToAdd" name="personToAdd">
                                <option th:each="person : ${personsToAdd}"
                                        th:value="${person.id}" th:text="${person.fullName}"></option>
                                <option>Bauer, Jack (JB)</option>
                                <option>OBrian, Chloe</option>
                            </select>
                            <button id="add_user" type="submit" value="add_user" name="action">
                                <span th:text="#{admin.group.button.add_user}">Add</span></button>
                            <input type="hidden" name="id" id="id" th:field="${toEdit.id}"/>
                        </form>
                    </th:block>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>