<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{admin.user.header.change_password}">Change password</h1>
        </div>
        <div id="content">
            <div id="adminpassword_form">
                <form action="/admin/password" th:action="@{/admin/password}" th:object="${passwordChangeRequest}" method="POST">
                    <div class="even">
                        <label for="password" th:text="#{admin.user.label.password}">password</label>:
                        <input type="password" name="password" id="password" th:field="*{password}" th:errorclass="fieldError"/>
                        <ul th:if="${#fields.hasErrors('password')}">
                            <li th:each="err : ${#fields.errors('password')}" th:text="#{${err}}" />
                        </ul>
                    </div>
                    <div class="odd">
                        <label for="repeated" th:text="#{admin.user.label.repeated}">repeated</label>:
                        <input type="repeated" name="repeated" id="repeated" th:field="*{repeated}"/>
                    </div>
                    <button id="store_password" type="submit" value="store_password" name="action" class="btn btn btn-success">
                        <span th:text="#{admin.user.button.edit}">Save</span></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>