<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{admin.person.header.search}">Administration - Search Person</h1>
        </div>
        <div id="content">
            <div id="adminperson_form">
                <form action="/admin/personsearch" th:action="@{/admin/personsearch}" method="POST"
                      class="form-horizontal">
                    <fieldset>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Search for..." th:attr="placeholder=#{admin.all.placeholder}"
                                       name="searchString"
                                        />
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"
                                            th:text="#{admin.all.button.search}">Search
                                    </button>
                                  </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </fieldset>
                </form>
            </div>
            <div id="groupList" class="panel panel-primary" th:if="${searchResult != null}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{admin.person.search.result}">Groups</h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.person.header.fullName}">Name</th>
                        <th th:text="#{admin.list.header.edit}">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${searchResult}" th:object="${person}">
                        <td th:text="*{fullName}">O'Brian, Chloe</td>
                        <td><a href="/admin/person" th:href="@{/admin/person(id=*{id})}">
                            <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}"
                                 th:alt="#{admin.list.link.edit}"/></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>