<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:if="${toEdit.id == null}"
                th:text="#{admin.person.header.title_add}">Administration - Add User</h1>
            <h1 th:if="${toEdit.id != null}" th:text="#{admin.person.header.title_edit}">Administration - Edit
                User</h1>
        </div>
        <div id="content">
            <div id="adminperson_form">
                    <form action="/admin/person" th:action="@{/admin/person}" th:object="${toEdit}" method="POST" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="title" th:text="#{admin.person.label.title}" class="col-md-4 control-label">Title</label>
                                <div class="col-md-4 ">
                                    <select th:field="*{title}" th:remove="all-but-first" id="title" class="input-xlarge">
                                        <option th:each="title : ${titles}"
                                                th:value="${title}" th:text="${title}"></option>
                                        <option>Dr.</option>
                                        <option>Prof.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName" th:text="#{admin.person.label.firstname}" class="col-md-4 control-label">First name</label>
                                <div class="col-md-4">
                                    <input type="text" name="firstName" id="firstName" th:field="*{firstName}" class="input-xlarge"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" th:text="#{admin.person.label.lastname}" class="col-md-4 control-label">Last Name</label>
                                <div class="col-md-4">
                                    <input type="text" name="lastName" id="lastName" th:field="*{lastName}" class="input-xlarge"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="code" th:text="#{admin.person.label.code}" class="col-md-4 control-label">code</label>
                                <div class="col-md-4">
                                    <input type="text" name="code" id="code" th:field="*{code}" maxlength="5" class="input-xlarge"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{admin.person.label.email}" class="col-md-4 control-label">Email</label>
                                <div class="col-md-4">
                                    <input type="email" name="email" id="email" th:field="*{email}" placeholder="max@mustermann.de" class="input-xlarge"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <button id="store_person" type="submit" value="store_person" name="action" class="btn btn btn-success">
                                        <span th:text="#{admin.person.button.edit}">Save</span></button>
                                    <input type="hidden" name="id" id="id" th:field="*{id}"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
            </div>
            <div id="groupList" class="panel panel-primary" th:if="${toEdit.id != null}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{admin.person.header.groups}">Groups</h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.list.header.groupName}">Name</th>
                        <th th:text="#{admin.list.header.edit}">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group : ${toEdit.groups}" th:object="${group}">
                        <td th:text="*{name}">CTU</td>
                        <td><a href="/admin/group" th:href="@{/admin/group(id=*{id})}">
                            <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}" th:alt="#{admin.list.link.edit}"/></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="projectList" class="panel panel-primary" th:if="${toEdit.id != null}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{admin.person.header.projects}">Projects</h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.list.header.projectName}">Name</th>
                        <th th:text="#{admin.list.header.edit}">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${toEdit.projects}" th:object="${project}">
                        <td th:text="*{name}">Projekt1</td>
                        <td><a href="/admin/project" th:href="@{/admin/project(id=*{id})}">
                            <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}" th:alt="#{admin.list.link.edit}"/></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>