<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{admin.project.overview.header.title}">Administration - Project Overview</h1>
        </div>
        <div id="content">
            <div id="projectList" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{admin.person.header.projects}">Projects</h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.list.header.projectName}">Name</th>
                        <th th:text="#{admin.list.header.edit}">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${projects}" th:object="${project}">
                        <td th:text="*{name}">Projekt1</td>
                        <td><a href="/admin/project" th:href="@{/admin/project(id=*{id})}">
                            <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}" th:alt="#{admin.list.link.edit}"/></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>