<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:if="${toEdit.id == null}"
                th:text="#{admin.project.header.title_add}">Administration - Add Project</h1>
            <h1 th:if="${toEdit.id != null}" th:text="#{admin.project.header.title_edit}">Administration - Edit
                Project</h1>
        </div>
        <div id="content">
            <div id="adminproject_form">
                <form action="/admin/project" th:action="@{/admin/project}" th:object="${toEdit}" method="POST">
                    <div class="odd">
                        <label for="name" th:text="#{admin.project.label.name}">Name</label>:
                        <input type="text" name="name" id="name" th:field="*{name}"/>
                    </div>
                    <button id="add_user" type="submit" value="add_user" name="action" class="btn btn btn-success">
                        <span th:text="#{admin.person.button.edit}">Save</span></button>
                    <input type="hidden" name="id" id="id" th:field="*{id}"/>
                </form>
            </div>
            <div id="personList" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{admin.project.header.member}">Members</h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th th:text="#{admin.list.header.personFirstName}">First name</th>
                            <th th:text="#{admin.list.header.personLastName}">Last name</th>
                            <th th:text="#{admin.list.header.personCode}">Code</th>
                            <th th:text="#{admin.list.header.edit}">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="member : ${toEdit.members}" th:object="${member}">
                            <td th:text="*{firstName}">Horst</td>
                            <td th:text="*{LastName}">Tappert</td>
                            <td th:text="*{code}">HT</td>
                            <td><a href="/admin/person" th:href="@{/admin/person(id=*{id})}">
                                <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}" th:alt="#{admin.list.link.edit}"/></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="groupList" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{admin.project.header.groups}">Groups</h3>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{admin.list.header.groupName}">Name</th>
                        <th th:text="#{admin.list.header.edit}">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group : ${toEdit.groups}" th:object="${group}">
                        <td th:text="*{name}">CTU</td>
                        <td><a href="/admin/group" th:href="@{/admin/group(id=*{id})}">
                            <img src="../../static/img/edit20.png" th:src="@{/img/edit20.png}" th:alt="#{admin.list.link.edit}"/></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>