<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:if="${toEdit.id == null}"
                th:text="#{admin.user.header.title_add}">Administration - Add User</h1>
            <h1 th:if="${toEdit.id != null}" th:text="#{admin.user.header.title_edit}">Administration - Edit
                User</h1>
        </div>
        <div id="content">
            <div id="adminuser_form">
                <form action="/admin/user" th:action="@{/admin/user}" th:object="${toEdit}" method="POST">
                    <div class="even">
                        <label for="login" th:text="#{admin.user.label.login}">Login</label>:
                        <input type="text" name="login" id="login" th:field="*{login}"/>
                    </div>
                    <div class="odd">
                        <label for="password" th:text="#{admin.user.label.password}">password</label>:
                        <input type="password" name="password" id="password" th:field="*{password}"/>
                    </div>
                    <div class="even">
                        <label for="person" th:text="#{admin.user.label.person}">Person</label>:
                        <select th:field="*{person}" th:remove="all-but-first" id="person">
                            <option th:each="person : ${persons}"
                                    th:value="${person.id}" th:text="${person.fullName}"></option>
                            <option>Jack</option>
                            <option>Horsti</option>
                        </select>
                    </div>
                    <button id="store_user" type="submit" value="store_user" name="action" class="btn btn btn-success">
                        <span th:text="#{admin.user.button.edit}">Save</span></button>
                    <input type="hidden" name="id" id="id" th:field="*{id}"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

</body>
</html>