<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:fragment="header">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta name="_language" th:content="#{language.short}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vacation planning</title>
        <link rel="stylesheet" type="text/css" href="/css/vacation.css" th:href="@{/css/vacation.css}"/>
        <link rel="stylesheet" type="text/css" href="/js/jquery-ui/jquery-ui.css" th:href="@{/js/jquery-ui/jquery-ui.css}"/>
        <link rel="stylesheet" type="text/css" href="/js/jquery-ui/jquery-ui.structure.css"
              th:href="@{/js/jquery-ui/jquery-ui.structure.css}"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" type="text/css" href="/js/jquery-ui/jquery-ui.theme.css"
              th:href="@{/js/jquery-ui/jquery-ui.theme.css}"/>
        <script src="/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"/>
        <script src="/js/jquery-ui/jquery-ui.js" th:src="@{/js/jquery-ui/jquery-ui.js}"/>
        <script src="/js/vacation_common.js" th:src="@{/js/vacation_common.js}" sec:authorize="hasRole('ROLE_USER')"/>

        <script src="/js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"/>
    </head>
    <body>
        <nav th:fragment="menu" id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div id="navbar" class="navbar-collapse collapse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home" th:href="@{/home}">Vacation Planning</a>
                    </div>
                    <!--span>Logged in as: <span th:text="${person.lastName}">Bauer</span>/<span
                            th:text="${#httpServletRequest.remoteUser}">login</span></span-->
                    <ul class="nav navbar-nav" sec:authorize="hasRole('ROLE_USER')">
                        <li><a th:href="@{/vacation}"><span th:text="#{menu.entry.calendar}">Calendar</span></a></li>
                        <li sec:authorize="hasRole('ROLE_TEAM_CALENDAR')"><a th:href="@{/teamcalendar}"><span th:text="#{menu.entry.teamCalendar}">Team Calendar</span></a></li>
                        <li><a th:href="@{/vacationsubmit}"><span th:text="#{menu.entry.submitVacation}">Submit Vacation</span></a></li>
                        <li class="dropdown" sec:authorize="hasRole('ROLE_SUPERVISOR') || hasRole('ROLE_PROJECT_ADMIN') || hasRole('ROLE_USER_ADMIN')">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li sec:authorize="hasRole('ROLE_SUPERVISOR')"><a th:href="@{/vacationgrant}"><span th:text="#{menu.entry.grantVacation}">Grant Vacation</span></a></li>
                                <li sec:authorize="hasRole('ROLE_SUPERVISOR')"><a th:href="@{/capacity}"><span th:text="#{menu.entry.capacity}">Capacity</span></a></li>
                                <li sec:authorize="hasRole('ROLE_PROJECT_ADMIN')"><a th:href="@{/admin/personsearch}"><span th:text="#{menu.entry.admin.personsearch}">Search person</span></a></li>
                                <li sec:authorize="hasRole('ROLE_PROJECT_ADMIN')"><a th:href="@{/admin/person}"><span th:text="#{menu.entry.admin.person}">Add Person</span></a></li>
                                <li sec:authorize="hasRole('ROLE_PROJECT_ADMIN')"><a th:href="@{/admin/project}"><span th:text="#{menu.entry.admin.project}">Add Project</span></a></li>
                                <li sec:authorize="hasRole('ROLE_PROJECT_ADMIN')"><a th:href="@{/admin/group}"><span th:text="#{menu.entry.admin.group}">Add Group</span></a></li>
                                <li sec:authorize="hasRole('ROLE_PROJECT_ADMIN')"><a th:href="@{/admin/projectoverview}"><span th:text="#{menu.entry.admin.projectoverview}">Project overview</span></a></li>
                                <li sec:authorize="hasRole('ROLE_USER_ADMIN')"><a th:href="@{/admin/user}"><span th:text="#{menu.entry.admin.user}">Create User</span></a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/admin/password}"><span th:text="#{menu.entry.password}">Password</span></a></li>
                        <li><p class="navbar-text" th:text="${user.login}">chefe</p></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-danger navbar-btn" value="Sign Out"><img src="../../static/img/power128.png" th:src="@{/img/power16.png}" /></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>