body {
    font-family: sans-serif;
}

.page-header {
    padding-top: 5px;
}

.VACATION {
    background-color: #FFEB9C;
}

.TRAINING {
    background-color: lightblue;
}

.OVER_HOURS {
    background-color: lightblue;
}

.SPECIAL_VACATION {
    background-color: lightskyblue;
}

.PROJECT_OFF {
    background-color: #C5D9F1;
}

.calendar_month {
    border: 1px black solid;
    border-collapse: collapse;
    margin-left: 0px;
    margin-right: 10px;
}

.calendar_month th {
    border-bottom: 1px black solid;
}

.calendar_month td {
    border: 1px #A4A4A4 solid;
    padding: 1px;
    width: 30px;
    background-color: #E6E6E6;
}

.calendar_month th {
    background-color: #3399FF;
    color: #fff;
    text-align: center;
}

.calendar_month td span {
    display: inline-block;
    width: 100%;
    padding: 2px;
}

.calendar_day {
    text-align: right;
    background-color: #E6E6E6;
}

.calendar_type {
    text-align: center;
    //background-color: #E6E6E6;
}

.weekend {
    background-color: #B2D1FF;
}

.bank_holiday {
    background-color: #FFB2B2;
}

.half_day {
    background-color: #D1F0FF;
}

#calendar_wrapper td {
    vertical-align: top;
}

#message {
    display: none;
}

#team_calendar .team_calendar_month {
    border-collapse: collapse;
}

#team_calendar .calendar_type {
    border: 1px black solid;
    border-collapse: collapse;
    width: 2em;
}

#year_selector {
    padding: 10px 0px;
    margin: 10px;
}

#current_year {
    padding: 5px;
}

#capacity_form label {
    display: inline-block;
    width: 3em;
}

.capacity_report_label {
    width: 30%;
    font-weight: bold;
}

#capacity tfoot {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.even {
    background: #E0F5FF;
}

.odd {
    background: white;
}

#vacationsToSubmit, #vacationsToSubmitTable {
    width: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#vacationProgress {
    width: 100%;

    overflow: auto;
    padding-bottom: 1em;
}

.progressDayUsed {
    background-color: #aeaeae;
}

.progressDayUnused {
    background-color: #00cc33;
}

.progressDay {
    display: block;
    background-repeat: repeat-x;
    border-color: #245580;
    border-radius: 6px;
    width: 10%;
    float: left;
    color: #fff;
    height: 10px;
}

div.team_calendar_month_wrapper {
    margin-bottom: 10px;
}

div.team_calendar_month_wrapper > div.panel-body{
    padding: 5px 15px;
}

div.team_calendar_header_column {
    padding: 3px 15px;
}

.team_calendar_header_row {
    font-weight: bold;
    background-color: #2e6da4;
    color: #222222;
}

.team_calendar_person_column {
    padding-right: 5px;
}

#groupList, #personList {
    margin-top: 5px;
}

.rotate {
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); *//* IE6,IE7 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; *//* IE8 */
    /*-moz-transform: rotate(-90.0deg); *//* FF3.5+ */
    /*-ms-transform: rotate(-90.0deg); *//* IE9+ */
    /*-o-transform: rotate(-90.0deg); *//* Opera 10.5 */
    /*-webkit-transform: rotate(-90.0deg); *//* Safari 3.1+, Chrome */
    /*transform: rotate(-90.0deg); *//* Standard */
    /*float: left;*/
    /*text-align: center;*/
}