<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">

</head>
<body>
<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{capacity.header.title}">Capacity calculation</h1>
        </div>
        <div id="content">
            <div id="capacity_form" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/capacity}" method="POST">
                        <p><label for="group" th:text="#{capacity.label.group}">From</label>
                            <select name="group" id="group">
                                <option value="" th:text="#{teamcalendar.select.prompt}" selected="selected">--- Please
                                    Select
                                    ---
                                </option>
                                <option th:each="group : ${groups}" th:value="${group.id}"
                                        th:text="${group.project.name + ' - ' + group.name}">CTU - Spies
                                </option>
                            </select>
                        </p>

                        <p><label for="date_from" th:text="#{capacity.label.from}">From</label>
                            <input type="text" name="date_from" id="date_from" th:value="${date_from}"/>
                        </p>

                        <p><label for="date_to" th:text="#{capacity.label.to}">To</label> <input type="text"
                                                                                                 name="date_to"
                                                                                                 id="date_to"
                                                                                                 th:value="${date_to}"/>
                        </p>
                        <button id="show_calendar" type="submit" value="show_calendar" name="action"
                                class="btn btn btn-default"><span
                                th:text="#{teamcalendar.button.show}">Show</span></button>
                    </form>
                </div>
            </div>
            <div id="capacity" class="panel panel-primary" th:if="${capacityResult} != null">
                <div class="panel-heading">
                    <h3 class="panel-title"><span th:text="#{capacity.label.project}">Project</span> - <span
                            th:text="${capacityResult.group.project.name}"> Projectname</span></h3>
                </div>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.project}">Project</td>
                        <td class="capacity_report_value" th:text="${capacityResult.group.project.name}">Brater</td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.group}">Team</td>
                        <td class="capacity_report_value" th:text="${capacityResult.group.name}">CTU Team</td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.from}">Von</td>
                        <td class="capacity_report_value" th:text="${capacityResult.from}">2014-12-01
                        </td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.to}">Bis</td>
                        <td class="capacity_report_value" th:text="${capacityResult.to}">2014-12-31
                        </td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.projectOffIsNotInCapacity}">Project off considered</td>
                        <td class="capacity_report_value" th:text="${capacityResult.projectOffIsNotInCapacity}">true</td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.groupCount}">Group count</td>
                        <td class="capacity_report_value" th:text="${capacityResult.groupCount}">19</td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.totalDays}">Total days</td>
                        <td class="capacity_report_value" th:text="${capacityResult.totalDays}">31</td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.weekendCount}">Weekend days</td>
                        <td class="capacity_report_value" th:text="${capacityResult.weekendCount}">19</td>
                    </tr>
                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.bankHolidays}">Bank Holidays</td>
                        <td class="capacity_report_value" th:text="${capacityResult.bankHolidays}">12</td>
                    </tr>

                    <tr>
                        <td class="capacity_report_label" th:text="#{capacity.label.vacationDays}">Vacation days</td>
                        <td class="capacity_report_value" th:text="${capacityResult.vacationDays}">11</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="capacity_report_label" th:text="#{capacity.label.capacity}">Capacity</td>
                            <td class="capacity_report_value" th:text="${capacityResult.capacity}">121</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="message">X</div>


<script>
    $(document).ready(function () {
        $(function () {
            $("#date_from").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
        $(function () {
            $("#date_to").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    });

</script>
</body>
</html>