<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div th:replace="fragments/menu :: menu">SOME MENU</div>

<div id="main" class="container" role="main">
    <div id="content">

        <div class="page-header">
            <h1 th:text="#{home.header.title}">Vacation planning</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2><a href="/vacation.html" th:href="@{/vacation}" th:text="#{menu.entry.calendar}">Calendar</a></h2>
                <p th:text="#{home.text.calendar}">Plan your your project absences ahead of time</p>
                <p><a class="btn btn-primary" href="/vacation.html" th:href="@{/vacation.html}" role="button" th:text="#{menu.entry.calendar} + ' &raquo;'">Calendar &raquo;</a></p>
            </div>
            <div class="col-lg-4" sec:authorize="hasRole('ROLE_TEAM_CALENDAR')">
                <h2><a href="/teamcalendar.html" th:href="@{/teamcalendar}" th:text="#{menu.entry.teamCalendar}">Team Calendar</a></h2>
                <p th:text="#{home.text.teamCalendar}">Check out what your team is planning and get an overview.</p>
                <p><a class="btn btn-primary" href="/teamcalendar.html" th:href="@{/teamcalendar}" role="button" th:text="#{menu.entry.teamCalendar} + ' &raquo;'">Team Calendar &raquo;</a></p>
            </div>
            <div class="col-lg-4" sec:authorize="hasRole('ROLE_SUPERVISOR')">
                <h2><a href="/capacity.html" th:href="@{/capacity}" th:text="#{menu.entry.capacity}">Capacity</a></h2>
                <p th:text="#{home.text.capacity}">Get support on reporting topics. How many person days are available for a given time period?</p>
                <p><a class="btn btn-primary" role="button" href="/capacity.html" th:href="@{/capacity}" th:text="#{menu.entry.capacity}+ ' &raquo;'">Capacity &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>