<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div class="container theme-showcase">
        <form class="form-signin" th:action="@{/login}" method="post">
            <div class="page-header">
                <h3 th:text="#{login.label.pleaseSignIn}">Please sign in</h3>
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert" th:text="#{login.error.incorrectLogin}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert" th:text="#{login.message.loggedOut}">
                You have been logged out.
            </div>
            <label for="username" class="sr-only" th:text="#{login.label.username}">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus"/>
            <label for="password" class="sr-only" th:text="#{login.label.password}">Password</label>
            <input type="password" name="password" id="password" class="form-control" th:attr="placeholder=#{login.label.password}" required="required"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
</div>

</body>
</html>