<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>

<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{teamcalendar.header.title}">Team Calendar</h1>
        </div>
        <div id="content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <form>
                        <select name="group" id="group">
                            <option value="" th:text="#{teamcalendar.select.prompt}" selected="selected">--- Please Select ---</option>
                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.project.name + ' - ' + group.name}">CTU - Spies</option>
                        </select>
                        <button id="show_calendar" type="submit" value="show_calendar" name="action"><span th:text="#{teamcalendar.button.show}">Show</span></button>
                    </form>
                    <div id="year_selector">
                        <button id="prev_year" type="button" class="btn btn-sm btn-primary">&lt;</button>
                        <span id="current_year">2014</span>
                        <button id="next_year" type="button" class="btn btn-sm btn-primary">&gt;</button>
                    </div>
                </div>
            </div>
            <div id="team_calendar">
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

<script src="/js/team_calendar.js" th:src="@{/js/team_calendar.js}"/>
<script>
        $( document ).ready(function() {
            $("#show_calendar").click(function(event) {
                event.preventDefault();
                selectGroup($("#group").val());
            });
            $("#current_year").html(yearToDisplay);
            addClickHandler(
                        $("#prev_year"),
                        function() {
                            yearToDisplay -= 1;
                            $("#current_year").html(yearToDisplay);
                            selectGroup($("#group").val());
                        });
            addClickHandler(
                        $("#next_year"),
                        function() {
                            yearToDisplay += 1;
                            $("#current_year").html(yearToDisplay);
                            selectGroup($("#group").val());
                        });
        });
</script>
</body>
</html>