<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>
<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{vacationsubmit.header.title}">Vacation submission</h1>
        </div>

        <div id="content">
            <div id="vacationsToSubmit">
                <form th:action="@{/vacationsubmit}" method="POST">
                    <table id="vacationsToSubmitTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll"/></th>
                            <th th:text="#{submitvacation.header.date}">Date</th>
                            <th th:text="#{submitvacation.header.type}">Type</th>
                        </tr>
                        </thead>
                    </table>
                    <button type="submit" value="Submit" name="action" class="btn btn btn-success"><span th:text="#{submitvacation.button.submit}">
                        Submit</span></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="message">X</div>

<script src="/js/vacation_submit.js" th:src="@{/js/vacation_submit.js}"/>
<script>
        $( document ).ready(function() {
            submit_vacation();
            $( "#checkAll" ).click(function(){
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });

</script>

</body>
</html>