<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header">
</head>
<body>
<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{vacationgrant.header.title}">Vacation approval</h1>
        </div>

        <div class="content">
            <div id="vacationsToGrant">
                <form th:action="@{/vacationgrant}" method="POST">
                    <table id="vacationsToGrantTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll"/></th>
                            <!-- th th:text="#{grantvacation.header.group}">Group</th-->
                            <th th:text="#{grantvacation.header.person}">Person</th>
                            <th th:text="#{grantvacation.header.date}">Date</th>
                            <th th:text="#{grantvacation.header.type}">Type</th>
                        </tr>
                        </thead>
                    </table>
                    <button type="submit" value="grant" name="action" class="btn btn btn-success"><span th:text="#{grantvacation.button.grant}">Grant</span></button>
                    <button type="submit" value="reject" name="action" class="btn btn btn-danger"><span th:text="#{grantvacation.button.reject}">Reject</span></button>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="message">X</div>

<script src="/js/vacation_grant.js" th:src="@{/js/vacation_grant.js}"/>
<script>
        $( document ).ready(function() {
            grant_vacation();
            $( "#checkAll" ).click(function(){
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });

</script>
</body>
</html>