<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/menu :: header" >
</head>
<body>
<div id="layout">

    <div th:replace="fragments/menu :: menu">SOME MENU</div>

    <div id="main" class="container theme-showcase" role="main">
        <div class="page-header">
            <h1 th:text="#{vacation.header.title}">Calendar</h1>
        </div>
        <div id="content">
            <div id="vacationProgress">
            </div>
            <div>
                <ul id="available_years" class="nav nav-pills" role="tablist">
                </ul>
            </div>
            <div id="calendar"></div>
        </div>
    </div>
</div>
<div id="message">X</div>

<script src="/js/vacation.js" th:src="@{/js/vacation.js}"/>
<script>
        $( document ).ready(function() {
            vacation();
        });

</script>
</body>
</html>